[Unit]
Description=Switch tuned profile based on power source

[Service]
Type=oneshot
ExecStart=/var/home/james/.local/bin/switch_tuned_profile.sh

[Install]
WantedBy=default.target
